{% if lists is empty %}
    <h3 class='no-info-message'>{{ emptyMessage ? emptyMessage|raw : "What?! No lists yet." }}</h3>
{% else %}
    <div class="lists-wrapper with-author">
        <ul>
        {% for list in lists %}
            {% if list.title %}
                <li data-id="{{ list.id }}">
                    <a href="{{ path('lists_io_view_list', {'id': list.id}) }}">
                        <h3 class="list-title">{{ list.title }}</h3>
                        <div class="list-subtitle">{{ list.subtitle|converturls|nl2br }}</div>
                        <div class="author"><a href="{{ path('lists_io_user_view_by_username', {'username': list.user.username}) }}"><img class="loggedin" src="{{ list.user.profilePicURL }}"> by {{ list.user.username }}</a></div>
                        {% if list.locString %}
                            <div class="list-location with-author">{{ list.locString }}</div>
                        {% endif %}
                    </a>
                </li>
            {% endif %}
        {% endfor %}
        </ul>
    </div>
{% endif %}