{% extends "FOSUserBundle::layout.html.twig" %}

{% block title %}
    Lists.io | Connect {{ service|capitalize }}
{% endblock %}

{% spaceless %}
    {% set imgURL = [
    "assets/images/bg/bg-img-01.jpg"
    ,"assets/images/bg/bg-img-02.jpg"
    ,"assets/images/bg/bg-img-03.jpg"
    ,"assets/images/bg/bg-img-04.jpg"
    ,"assets/images/bg/bg-img-05.jpg"
    ,"assets/images/bg/bg-img-06.jpg"
    ,"assets/images/bg/bg-img-07.jpg"
    ,"assets/images/bg/bg-img-08.jpg"
    ,"assets/images/bg/bg-img-09.jpg"
    ,"assets/images/bg/bg-img-10.jpg"
    ,"assets/images/bg/bg-img-11.jpg"
    ,"assets/images/bg/bg-img-12.jpg"
    ,"assets/images/bg/bg-img-13.jpg"
    ,"assets/images/bg/bg-img-14.jpg"
    ,"assets/images/bg/bg-img-15.jpg"
    ,"assets/images/bg/bg-img-16.jpg"
    ,"assets/images/bg/bg-img-17.jpg"
    ,"assets/images/bg/bg-img-18.jpg"
    ,"assets/images/bg/bg-img-19.jpg"
    ,"assets/images/bg/bg-img-20.jpg"
    ,"assets/images/bg/bg-img-21.jpg"
    ,"assets/images/bg/bg-img-22.jpg"
    ,"assets/images/bg/bg-img-23.jpg"
    ,"assets/images/bg/bg-img-24.jpg"
    ,"assets/images/bg/bg-img-25.jpg"
    ,"assets/images/bg/bg-img-26.jpg"
    ,"assets/images/bg/bg-img-27.jpg"
    ,"assets/images/bg/bg-img-28.jpg"
    ,"assets/images/bg/bg-img-29.jpg"
    ,"assets/images/bg/bg-img-30.jpg"
    ,"assets/images/bg/bg-img-31.jpg"
    ,"assets/images/bg/bg-img-32.jpg"
    ,"assets/images/bg/bg-img-33.jpg"
    ,"assets/images/bg/bg-img-34.jpg"
    ,"assets/images/bg/bg-img-35.jpg"
    ,"assets/images/bg/bg-img-36.jpg"
    ,"assets/images/bg/bg-img-37.jpg"
    ,"assets/images/bg/bg-img-38.jpg"
    ,"assets/images/bg/bg-img-39.jpg"
    ,"assets/images/bg/bg-img-40.jpg"
    ,"assets/images/bg/bg-img-41.jpg"
    ,"assets/images/bg/bg-img-42.jpg"
    ,"assets/images/bg/bg-img-43.jpg"
    ,"assets/images/bg/bg-img-44.jpg"
    ,"assets/images/bg/bg-img-45.jpg"
    ,"assets/images/bg/bg-img-46.jpg"
    ,"assets/images/bg/bg-img-47.jpg"
    ,"assets/images/bg/bg-img-48.jpg"
    ,"assets/images/bg/bg-img-49.jpg"
    ] %}

    {% set randomImgURL = asset(random(imgURL)) %}
{% endspaceless %}

{% block share %}
{% endblock %}

{% block bgImage %}
    <div class="bg-wrapper" style="background-image: url(' {{randomImgURL}} ');"></div>
{% endblock %}

{% block fos_user_content %}
    <div class="mobile-background"  style="background-image: url(' {{randomImgURL}} ');">
        <div class="social-connect-wrapper">
            <div class="gravatar-image">
                <div class="gravatar-inner">
                    {% if userInformation.profilePicture is defined and userInformation.profilePicture is not empty %}
                        <img src="{{ userInformation.profilePicture|replace( {'_normal' : ''} ) }}" />
                    {% endif %}
                </div>
            </div>
            <h3>Connect your {{ service|capitalize }} account?</h3>
            <form action="{{ path('hwi_oauth_connect_service', {'service': service, 'key': key}) }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
                {{ form_widget(form) }}
                <div>
                    <button type="submit">{{ 'connect.confirm.submit' | trans({}, 'HWIOAuthBundle') }}</button>
                </div>
            </form>
        </div>
    </div>
    {% include "FOSUserBundle:Profile:show_content.html.twig" %}
{% endblock fos_user_content %}
{% block footer %}
{% endblock %}