{# User profile page (Logged in & Logged Out Users) #}

{% extends "FOSUserBundle::layout.html.twig" %}

{% block title %}Lists.io |
	{{ user.username }}
{% endblock %}

{% spaceless %} 
{% set imgURL = [
 "assets/images/bg/bg-img-01.jpg"
,"assets/images/bg/bg-img-02.jpg"
,"assets/images/bg/bg-img-03.jpg"
,"assets/images/bg/bg-img-04.jpg"
,"assets/images/bg/bg-img-05.jpg"
,"assets/images/bg/bg-img-06.jpg"
,"assets/images/bg/bg-img-07.jpg"
,"assets/images/bg/bg-img-08.jpg"
,"assets/images/bg/bg-img-09.jpg"
,"assets/images/bg/bg-img-10.jpg"
,"assets/images/bg/bg-img-11.jpg"
,"assets/images/bg/bg-img-12.jpg"
,"assets/images/bg/bg-img-13.jpg"
,"assets/images/bg/bg-img-14.jpg"
,"assets/images/bg/bg-img-15.jpg"
,"assets/images/bg/bg-img-16.jpg"
,"assets/images/bg/bg-img-17.jpg"
,"assets/images/bg/bg-img-18.jpg"
,"assets/images/bg/bg-img-19.jpg"
,"assets/images/bg/bg-img-20.jpg"
,"assets/images/bg/bg-img-21.jpg"
,"assets/images/bg/bg-img-22.jpg"
,"assets/images/bg/bg-img-23.jpg"
,"assets/images/bg/bg-img-24.jpg"
,"assets/images/bg/bg-img-25.jpg"
,"assets/images/bg/bg-img-26.jpg"
,"assets/images/bg/bg-img-27.jpg"
,"assets/images/bg/bg-img-28.jpg"
,"assets/images/bg/bg-img-29.jpg"
,"assets/images/bg/bg-img-30.jpg"
,"assets/images/bg/bg-img-31.jpg"
,"assets/images/bg/bg-img-32.jpg"
,"assets/images/bg/bg-img-33.jpg"
,"assets/images/bg/bg-img-34.jpg"
,"assets/images/bg/bg-img-35.jpg"
,"assets/images/bg/bg-img-36.jpg"
,"assets/images/bg/bg-img-37.jpg"
,"assets/images/bg/bg-img-38.jpg"
,"assets/images/bg/bg-img-39.jpg"
,"assets/images/bg/bg-img-40.jpg"
,"assets/images/bg/bg-img-41.jpg"
,"assets/images/bg/bg-img-42.jpg"
,"assets/images/bg/bg-img-43.jpg"
,"assets/images/bg/bg-img-44.jpg"
,"assets/images/bg/bg-img-45.jpg"
,"assets/images/bg/bg-img-46.jpg"
,"assets/images/bg/bg-img-47.jpg"
,"assets/images/bg/bg-img-48.jpg"
,"assets/images/bg/bg-img-49.jpg"
] %}

{% set randomImgURL = asset(random(imgURL)) %}
{% endspaceless %}

{% block bgImage %}
<div class="bg-wrapper" style="background-image: url(' {{randomImgURL}} ');"></div>  	
{% endblock %}

{% block share %}
<div class="share-wrapper">
	<div class="share">
		<img src='{{ asset('assets/images/sharebuttonwhite.png') }}'><span class="share-text">share</span>
	</div>
	<div class="share-buttons">
		<ul>
            <li><a href="https://www.facebook.com/sharer/sharer.php?u=http://lists.io/{{ user.username|url_encode }}"><span class="icon-facebook"></span></a></li>
            <li><a href="http://twitter.com/share?text=Check%20out%20my%20lists%20on%20@listsIO%20–%20http://lists.io/{{ user.username|url_encode }}"><span class="icon-twitter"></span></a></li>
            <li><a href="mailto:?subject=Check Out My Lists on Lists.io &body=Check out my lists on Lists.io – http://lists.io/{{ user.username|url_encode }}"><span class="icon-mail"></span></a></li>
		</ul>	     	
	</div>
</div>	
{% endblock %}

{% block fos_user_content %}
<div class="row mobile-background"  style="background-image: url(' {{randomImgURL}} ');">
	<div class="profile-wrapper">
		<!-- Error: Getting current user's info, not author info -->
		<div class="gravatar-image">
			<div class="gravatar-inner">
			    <a href="http://en.gravatar.com/"><img src="{{ user.gravatarURL }}"></a>
			</div>
		</div>
		<h1 class="profile-name">
			{{ user.username }}
		</h1>
	</div>
	<div class="divider"></div>
</div>
<div class="container profile-lists-wrapper">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			{% if is_granted("IS_AUTHENTICATED_REMEMBERED") and user.id == app.user.id %}
				<div class="list-button-wrapper">
					<a class="add-list-button" href="{{ path('lists_io_new_list') }}">
						<table>
							<tr>
								<td class="add-img"><span class="icon-add-list"></span></td>
								<td class="add-txt">Create a List</td>
							</tr>
						</table>
					</a>
				</div>
			{% endif %}
			<ul>
			{% for list in user.lists %}
                {% if (list.title) or (user.id == app.user.id) %}
                    {% set title = list.title ? list.title : "Untitled" %}
					<li data-id="{{ list.id }}">
						<a href="{{ path('lists_io_view_list', {'id': list.id}) }}">
							<h3 class="list-title">{{ title }}</h3>
							<span class="list-subtitle">{{ list.subtitle }}</span>
						</a>
						{% if is_granted("IS_AUTHENTICATED_REMEMBERED") and user.id == app.user.id %}
						    <a class="delete-list delete-button" href="javascript:void(0)"><span class="icon-cancel"></span></a>
						{% endif %}
					</li>
                {% endif %}
			{% endfor %}
			</ul>
		</div>
	</div>
</div>
{% include "FOSUserBundle:Profile:show_content.html.twig" %}
{% endblock fos_user_content %}
