{# User profile page (Logged in & Logged Out Users) #}

{% extends "FOSUserBundle::layout.html.twig" %}


{% block bgImage %}
{% spaceless %} 
{% set imgURL = [
 "assets/images/bg/bg-img-01.jpg"
,"assets/images/bg/bg-img-02.jpg"
,"assets/images/bg/bg-img-03.jpg"
,"assets/images/bg/bg-img-04.jpg"
,"assets/images/bg/bg-img-05.jpg"
,"assets/images/bg/bg-img-06.jpg"
,"assets/images/bg/bg-img-07.jpg"
,"assets/images/bg/bg-img-08.jpg"
,"assets/images/bg/bg-img-09.jpg"
,"assets/images/bg/bg-img-10.jpg"
,"assets/images/bg/bg-img-11.jpg"
,"assets/images/bg/bg-img-12.jpg"
,"assets/images/bg/bg-img-13.jpg"
,"assets/images/bg/bg-img-14.jpg"
,"assets/images/bg/bg-img-15.jpg"
,"assets/images/bg/bg-img-16.jpg"
,"assets/images/bg/bg-img-17.jpg"
,"assets/images/bg/bg-img-18.jpg"
,"assets/images/bg/bg-img-19.jpg"
,"assets/images/bg/bg-img-20.jpg"
,"assets/images/bg/bg-img-21.jpg"
,"assets/images/bg/bg-img-22.jpg"
,"assets/images/bg/bg-img-23.jpg"
,"assets/images/bg/bg-img-24.jpg"
,"assets/images/bg/bg-img-25.jpg"
,"assets/images/bg/bg-img-26.jpg"
,"assets/images/bg/bg-img-27.jpg"
,"assets/images/bg/bg-img-28.jpg"
,"assets/images/bg/bg-img-29.jpg"
,"assets/images/bg/bg-img-30.jpg"
,"assets/images/bg/bg-img-31.jpg"
,"assets/images/bg/bg-img-32.jpg"
,"assets/images/bg/bg-img-33.jpg"
,"assets/images/bg/bg-img-34.jpg"
,"assets/images/bg/bg-img-35.jpg"
,"assets/images/bg/bg-img-36.jpg"
,"assets/images/bg/bg-img-37.jpg"
,"assets/images/bg/bg-img-38.jpg"
,"assets/images/bg/bg-img-39.jpg"
,"assets/images/bg/bg-img-40.jpg"
,"assets/images/bg/bg-img-41.jpg"
,"assets/images/bg/bg-img-42.jpg"
,"assets/images/bg/bg-img-43.jpg"
,"assets/images/bg/bg-img-44.jpg"
,"assets/images/bg/bg-img-45.jpg"
,"assets/images/bg/bg-img-46.jpg"
,"assets/images/bg/bg-img-47.jpg"
,"assets/images/bg/bg-img-48.jpg"
,"assets/images/bg/bg-img-49.jpg"
] %}
{{ asset(random(imgURL)) }} 
{% endspaceless %}
{% endblock %}
{% block fos_user_content %}
<div class="profile-wrapper">

	<!-- Error: Getting current user's info, not author info -->
	<div class="gravatar-image">
		<div class="gravatar-inner">
		<a href="http://en.gravatar.com/">
			<img src="{{ user.getGravatarURL }}">
		</a>
		</div>
	</div>
	<h1 class="profile-name">
		{{ user.username }}
	</h1>
	<div class="profile-email">
		<a href="mailto:{{ user.email }}">{{ user.email }}</a>
	</div>
</div>

<div class="divider"></div>

<div class="container profile-lists-wrapper">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
				<div class="list-button-wrapper">
					<a class="add-list-button" href="list/new">
						<table>
							<tr>
								<td class="add-img"><img src="{{ asset('assets/images/list-add.png') }}"></td>
								<td class="add-txt">Create a List</td>
							</tr>
						</table>
					</a>
				</div>
			{% endif %}
			<ul>
			{% for list in user.getLists() if list.title %}
					<li data-id="{{ list.id }}"> 
						
						<a href="{{ path('lists_io_view_list', {'id': list.id}) }}">
						<!-- <a href="list/{{ list.id }}"> -->
							<h3 class="list-title">{{ list.title }}</h3>
							<span class="list-subtitle">{{ list.subtitle }}</span>
						</a>
						<a class="delete-list delete-button" href="javascript:void(0)">X</a>
					</li>
			{% endfor %}
			</ul>
		</div>
	</div>
</div>

<!-- Need an array of a user's lists here -->

{% include "FOSUserBundle:Profile:show_content.html.twig" %}
{% endblock fos_user_content %}
