{% trans_default_domain 'FOSUserBundle' %}

<a class="button register-social twitter" href="{{ path('hwi_oauth_service_redirect', {'service': 'twitter' }) }}" alt="Sign in with Twitter"><span class="icon-twitter"></span> Login with Twitter</a>
<a class="button register-social facebook" href="{{ path('hwi_oauth_service_redirect', {'service': 'facebook' }) }}" alt="Sign in with Facebook"><span class="icon-facebook"></span>  Login with Facebook</a>
<div id="register-form" style="display:none">
    {{ form_start(form) }}
    {{ form_row(form.email, {'label_attr': {'class': 'sr-only'}, 'attr' : {'placeholder': 'email address'} }) }}
    {{ form_row(form.username, {'label_attr': {'class': 'sr-only'}, 'attr': {'placeholder': 'username'}}) }}
    {{ form_row(form.plainPassword.first, {'label_attr': {'class': 'sr-only'}, 'attr': {'placeholder': 'password'}}) }}
    {{ form_row(form.plainPassword.second, {'label_attr': {'class': 'sr-only'}, 'attr': {'placeholder': 'confirm password'}}) }}
    
    <div>
    	<input type="submit" value="{{ 'registration.submit'|trans }}" />
    </div>
    {{ form_end(form) }}
</form>
</div>
<button id="register-form-button" class="button">Register with Email</button>
