{# Sets up the situation around the register form #}

{% extends "FOSUserBundle::layout.html.twig" %}

{% block logo %}
<div class="home-logo">
	<img class="svg-img lists-bg" src="{{ asset('assets/images/lists.svg') }}"><br>
	<h3 class="title">Lists.io</h3>
</div>
{% endblock %}

{% block bgImage %}{{ asset('assets/images/unsplash_52c470899a2e1_1.jpg') }}{% endblock %}
{% block fos_user_content %}
<div class="home-header">
	<h1>These are a few of your favorite things.</h1>
	
	{# Button - Does nothing
	<div class="sign-up-wrapper" id="signup-scroll">
		<a href="javascript:void(0);">
			<button class="sign-up">Sign Up</button>
		</a>
	</div> #}
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-md-offset-4 register-form" d>
				{% include "FOSUserBundle:Registration:register_content.html.twig" %}
			</div>
		</div>
	</div>
</div>

<div class="how-to-section">
	<div class="container">
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1">
				<h2>Now, with Lists.io, you can create a beautiful list and share to your friends in no time.</h2>
			</div>
		</div>
		<div class="row how-to-wrapper">
			<div class="col-sm-4">
				<div class="how-to">
					<img src="{{ asset('assets/images/home-list.png') }}">
					<p>1. Add a title and create your list.</p>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="how-to">
					<img src="{{ asset('assets/images/home-addimage.png') }}">
					<p>2. Link a background image.</p>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="how-to">
					<img src="{{ asset('assets/images/home-share.png') }}">
					<p>3. Share it with your friends.</p>
				</div>
			</div>
		</div>
		<div class="home-cta">
			<a class="button" href="#">Yes. I wanna try.</a>
		</div>
	</div>
</div>

<div class="home-content" style="background-image: url('{{ asset('assets/images/bg/bg-img-13.jpg') }}')">
	<div class="container">
		<div class="row">
			<h1>A few ways people are using lists:</h1>
			<div class="col-md-8 col-md-offset-2">
	            <ol>					
		           <li>
                            <h1><a href="/list/25">1. Best Movies of 2013</a></h1>
		            </li>
		            <li >
                           <h1><a href="/list/26">2. Favorite Place to Eat in SF</a></h1>
		            </li>
		            <li >
                            <h1><a href="/list/27">3. California Roadtrips</a></h1>
		            </li>
		            <li >
                            <h1><a href="/list/8">4. Best Albums of 2013</a></h1>
		            </li>
				</ol>
			</div>
		</div>
	</div>
</div>
{% endblock fos_user_content %}