{% trans_default_domain 'FOSUserBundle' %}

    {{ form_start(form) }}
    {{ form_row(form.email, {'label_attr': {'class': 'sr-only'}, 'attr' : {'placeholder': 'email address'} }) }}
    {{ form_row(form.username, {'label_attr': {'class': 'sr-only'}, 'attr': {'placeholder': 'username'}}) }}
    {{ form_row(form.plainPassword.first, {'label_attr': {'class': 'sr-only'}, 'attr': {'placeholder': 'password'}}) }}
    {{ form_row(form.plainPassword.second, {'label_attr': {'class': 'sr-only'}, 'attr': {'placeholder': 'confirm password'}}) }}
    
    <div>
    	<input type="submit" value="{{ 'registration.submit'|trans }}" />
    </div>
    {{ form_end(form) }}
</form>

