{# Base View - This is what every page on the site loads #}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link href="{{ asset('assets/css/bootstrap.css') }}" rel="stylesheet" type="text/css" media="all" />
        
        <!-- TypeKit -->
        <script type="text/javascript" src="//use.typekit.net/mjl7zre.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    </head>
    <body style="background-image:url('{% block bgImage %}{% endblock %}');">        
    	<div class="logo">
    	<a href=""><img class="svg-img" src="{{ asset('assets/images/lists.svg') }}"><img class="png-img" src="{{ asset('assets/images/lists.png') }}"></a><span id="save_indicator"></span>
    	</div>
    	<div class="body-screen"></div>
    	<!-- Tells you to log in or log out -->
    	<div class="login-out">
            <div>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <!-- Link gravitar to profile page -->
                <a href=""><img class="loggedin" src="{{ user.getGravatarURL }}"></a>
                <a class="logout-link" href="{{ path('fos_user_security_logout') }}">
                    {{ 'Log out'|trans({}, 'FOSUserBundle') }}
                </a>
            {% else %}
                <a class="logout-link" href="{{ path('fos_user_security_login') }}">{{ 'login'|trans({}, 'FOSUserBundle') }}</a>
            {% endif %}
			</div>
        </div>
        <!-- End Log in or log out message -->
        
        {% block body %}{% endblock %}
        
        {% block javascripts %}
        <!-- Uncompressed DEV JQuery -->
        <script src="{{ asset('assets/js/jquery-2.1.0.js') }}"></script>
        
        <!-- Custom JS -->
        <script src="{{ asset('assets/js/app.js') }}"></script>
        
        <!-- Uncompressed DEV Modernizr-->
        <script src="{{ asset('assets/js/modernizr.js') }}"></script>
        
        <!-- Bootstap JS Files -->
        <script src="{{ asset('assets/js/bootstrap/affix.js') }}"></script>
        <script src="{{ asset('assets/js/bootstrap/alert.js') }}"></script>
        <script src="{{ asset('assets/js/bootstrap/button.js') }}"></script>
        <script src="{{ asset('assets/js/bootstrap/carousel.js') }}"></script>
        <script src="{{ asset('assets/js/bootstrap/collapse.js') }}"></script>
        <script src="{{ asset('assets/js/bootstrap/dropdown.js') }}"></script>
        <script src="{{ asset('assets/js/bootstrap/tab.js') }}"></script>
        <script src="{{ asset('assets/js/bootstrap/transition.js') }}"></script>
        <script src="{{ asset('assets/js/bootstrap/scrollspy.js') }}"></script>
        <script src="{{ asset('assets/js/bootstrap/modal.js') }}"></script>
        <script src="{{ asset('assets/js/bootstrap/tooltip.js') }}"></script>
        <script src="{{ asset('assets/js/bootstrap/popover.js') }}"></script>
        {% endblock %}
        
    </body>
</html>
