{# Extends the base layout #}

{% extends "base.html.twig" %}
 
{% block share %}
{% endblock %}
{% block login %}
		<div class="login-out">
            <div>
            {% if is_granted("IS_AUTHENTICATED_FULLY") %}
                <!-- Link gravitar to profile page -->
                <a href="{{ path('lists_io_home') }}"><img class="loggedin" src="{{ user.getGravatarURL }}"></a>
                <a class="logout-link" href="{{ path('fos_user_security_logout') }}">
                    {{ 'Log out'|trans({}, 'FOSUserBundle') }}
                </a>
            {% else %}
                <a class="logout-link" href="{{ path('fos_user_security_login') }}">{{ 'login'|trans({}, 'FOSUserBundle') }}</a>
            {% endif %}
			</div>
        </div>
{% endblock %}
{% block body %}
		{% block fos_user_content %}{% endblock %}
        {% for type, messages in app.session.flashbag.all() %}
            {% for message in messages %}
                <div class="flash-{{ type }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
        <div class="container">
        </div>
{% endblock %}