{% extends "::base.html.twig" %}

{% block title %}Lists.io | Feed{% endblock %}

{% block body %}
<div class="feed container-fluid">
	<div class="row" id="feed-insert">
		{% for list in lists %}
				<div data-id="{{ list.id}}" onclick="location.href='/list/{{ list.id}}'" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 feed-item-wrapper feed-item-count" style="background-image: url('{{ list.imageURL}}')">
					<div class="feed-item-overlay">
						<div class="feed-item">
							<h3 class="feed-item-title">{{ list.title}}</h3>
							<a href="/{{ list.user.username}}">
							<div class='feed-item-profile'>
								<img src="{{ list.user.gravatarURL}}" />
								<span class="feed-item-username">{{ list.user.username}}</span>
							</div>
							</a>
						</div>
					</div>
				</div>
		{% endfor %}
	</div>
	<div id="feed-cta" style="display: none">
		<div class="row">
			<a href="{{ (app.user) ? '/list/new' : '/login' }}">
				<div class="feed-item-wrapper">
					<div class="feed-item-overlay">
						<div class="feed-item">
							<h3 class="feed-item-title">Click to Start Your Own List</h3>
							<p>You've reached the beginning of Lists.io</p>
						</div>
					</div>
				</div>
			</a>
		</div>
	</div>
</div>
	
{% endblock %}
{% block share %}
{% endblock %}
{% block featured %}
{% endblock %}
{% block footer %}
{% endblock %}