{# View & Edit the list (Owner & Logged in) #}

{% extends "base.html.twig" %}

{% block bgImage %} {{ list.getImageURL() }} {% endblock %}

{% block title %}Lists.io | {{ list.getTitle() }} {% endblock %}

{% block share %}
<div class="share-wrapper">
	<div class="share">
	        	<img src='{{ asset('assets/images/sharebuttonwhite.png') }}'><span class="share-text">share</span>
	        </div>
	        <div class="share-buttons">
	        	<ul>
	        		<li><a href="https://www.facebook.com/sharer/sharer.php?u=http://lists.io/list/{{ list.getId() }}"><span class="icon-facebook"></span></a></li>
	        		<li><a href="http://twitter.com/share?text=Check%20out%20my%20list%20on%20@listsIO%20%22{{ list.getTitle() }}%22%20–%20http://lists.io/list/{{ list.getId() }}"><span class="icon-twitter"></span></a></li>
	        		<li><a href="mailto:?subject=Check Out My List on Lists.io &body=Check out my list: %22{{ list.getTitle() }}%22 – http://lists.io/list/{{ list.getId() }}"><span class="icon-mail"></span></a></li>
	        	</ul>
	</div>
</div>
{% endblock %}
{% block body %}
<div class="background" style="min-height: 100%; min-width: 100%;">
	<div class="items">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 edit-list-head-wrapper list-head" id="list-{{ list.id }}">
                    <input type="text" class="list-title" placeholder="List title" value="{{ list.title }}"/>
                    <input type="text" class="list-subtitle" placeholder="subtitle" value="{{ list.subtitle }}"/>
                    <input type="text" class="list-img" placeholder="http://site.com/MyCustomImage" value="{{ list.imageURL }}"/>
				</div>
			</div>
			<div class="row">
		        <div class="list">
			        <div class="col-md-8 col-md-offset-2">
			            <ol id="editable-list-{{ list.id }}" class="editable-list" data-id="{{ list.getId() }}" data-user_id="{{ list_user.getId() }}">
			            {% for item in list.listItems %}
			                <li class="list-item" data-order_index="{{ item.orderIndex }}" data-id="{{ item.id }}">
                                <span class='number'>{{ item.orderIndex }}</span>
			                    <input type="text" placeholder="List item title"  class="item" value="{{ item.title }}"/>
                                <textarea placeholder="(Optional) A short description of this list item." class="description" maxlength="1024">{{ item.description }}</textarea>
			                    <a class="delete-list-item delete-button" href="javascript:void(0)"><span class="icon2-cancel"></span></a>
			                </li>
			            {% endfor %}
			            </ol>
			            <div class="list-button-wrapper">
							<a id="add" class="add-list-button" href="#">
								<table>
									<tr>
										<td class="add-img"><img src="{{ asset('assets/images/list-add.png') }}"></td>
										<td class="add-txt">Add an Item</td>
									</tr>
								</table>
							</a>
                        </div>
                    </div>
		        </div>
			</div>
		</div>
	</div>
</div>
<div style="display: none !important" hidden id="item-template">
    <li class="list-item" data-order_index="" data-id="">
        <span class='number'></span>
        <input type="text" placeholder="List item title"  class="item" value=""/>
        <textarea placeholder="(Optional) A short description of this list item." class="description" maxlength="1024"></textarea>
        <a class="delete-list-item delete-button" href="javascript:void(0)"><span class="icon2-cancel"></span></a>
    </li>
</div>
{% endblock %}
