{# View & Edit the list (Owner & Logged in) #}

{% extends "::base.html.twig" %}

{% block bgImage %} 
<div class="bg-wrapper list-background" style="background-image: url(' {{ list.getImageURL() }} ');"></div> 
{% endblock %}

{% block title %}Lists.io | {{ list.getTitle() }} {% endblock %}

{% block body %}
<div class="background background-mobile" style="min-height: 100%; min-width: 100%;">
	<div class="items">
		<div class="container">
			<div class="row mobile-background"  style="background-image: url(' {{ list.getImageURL() }} ');">
				<div class="col-md-8 col-md-offset-2 edit-list-head-wrapper list-head" id="list-{{ list.id }}">
                    <input type="text" class="list-title" placeholder="List title" value="{{ list.title }}"/>
                    <input type="text" class="list-subtitle" placeholder="subtitle" value="{{ list.subtitle }}"/>
                    <input type="text" class="list-img" placeholder="http://site.com/MyCustomImage" value="{{ list.imageURL }}"/>
				</div>
			</div>
			<div class="row">
		        <div class="list">
			        <div class="col-md-8 col-md-offset-2">
			            <ol id="editable-list-{{ list.id }}" class="editable-list" data-id="{{ list.getId() }}" data-user_id="{{ list_user.getId() }}">
			            {% for item in list.listItems %}
			                <li class="list-item" data-order_index="{{ item.orderIndex }}" data-id="{{ item.id }}">
                                <span class='number'>{{ item.orderIndex }}</span>
			                    <input type="text" placeholder="List item title"  class="item" value="{{ item.title }}"/>
                                <textarea placeholder="(Optional) A short description of this list item." class="description" maxlength="1024">{{ item.description }}</textarea>
			                    <a class="delete-list-item delete-button" href="javascript:void(0)"><span class="icon-cancel"></span></a>
			                </li>
			            {% endfor %}
			            </ol>
			            <div class="list-button-wrapper">
							<a id="add" class="add-list-button" href="#">
								<table>
									<tr>
										<td class="add-img"><span class="icon-add-list"></span></td>
										<td class="add-txt">Add an Item</td>
									</tr>
								</table>
							</a>
                        </div>
                    </div>
		        </div>
			</div>
		</div>
	</div>
</div>
<div style="display: none !important" hidden id="item-template">
    <li class="list-item" data-order_index="" data-id="">
        <span class='number'></span>
        <input type="text" placeholder="List item title"  class="item" value=""/>
        <textarea placeholder="(Optional) A short description of this list item." class="description" maxlength="1024"></textarea>
        <a class="delete-list-item delete-button" href="javascript:void(0)"><span class="icon-cancel"></span></a>
    </li>
</div>
{% endblock %}
