{# View & Edit the list (Owner & Logged in) #}

{% extends "base.html.twig" %}

{% block bgImage %} {{ list.getImageURL() }} {% endblock %}

{% block title %}Lists.io | {{ list.getTitle() }} {% endblock %}

{% block share %}
<div class="share">
        	<img src='{{ asset('assets/images/sharebuttonwhite.png') }}'><span class="share-text">share</span>
        </div>
        <div class="share-buttons">
        	<ul>
        		<li><a href="https://www.facebook.com/sharer/sharer.php?u=http://lists.io/list/{{ list.getId() }}"><span class="icon-facebook"></span></a></li>
        		<li><a href="http://twitter.com/share?text=Check%20out%20listsIO%20%22{{ list.getTitle() }}%22%20–%20http://lists.io/list/{{ list.getId() }}"><span class="icon-twitter"></span></a></li>
        		<li><a href="mailto:?subject=Check Out My List on Lists.io &body=Check out my lists.io list: %22{{ list.getTitle() }}%22%0D%0A%0D%0A – http://lists.io/lists/{{ list.getId() }}"><span class="icon-mail"></span></a></li>
        	</ul>
</div>
{% endblock %}
{% block body %}
<div class="background" style="min-height: 100%; min-width: 100%;">
	<div class="items">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 edit-list-head-wrapper">
                    <input type="text" id="title" data-id="{{ list.getId() }}" data-user_id="{{ list_user.getId() }}" placeholder="List title" value="{{ list.getTitle() }}"/>
                    <input type="text" id="subtitle" placeholder="subtitle" value="{{ list.getSubtitle() }}"/>
                    <input type="text" id="img" placeholder="http://mysite.com/myimage.jpg" value="{{ list.getImageURL() }}"/>
				</div>
			</div>
			<div class="row">
		        <div class="list">
			        <div class="col-md-8 col-md-offset-2">
			            <ol>
                        {%  set i = 0 %}
			            {% for item in list.getListItems() %}
                            {%  set i = i+1 %}
			                <li class="list-item">
                                <span class='number'>{{ i }}</span>
			                    <input type="text" placeholder="List item title" data-id="{{ item.getId() }}" class="item" value="{{ item.getTitle() }}"/>
			                    <textarea placeholder="(Optional) A short description of this list item." class="description">{{ item.getDescription() }}</textarea>
			                    <a class="delete-list-item delete-button" href="javascript:void(0)"><span class="icon2-cancel"></a>
			                </li>
			            {% endfor %}
			            </ol>
			            <div class="list-button-wrapper">
							<a id="add" class="add-list-button" href="#">
								<table>
									<tr>
										<td class="add-img"><img src="{{ asset('assets/images/list-add.png') }}"></td>
										<td class="add-txt">Add an Item</td>
									</tr>
								</table>
							</a>
                        </div>
                    </div>
		        </div>
			</div>
		</div>
	</div>
</div>
<div style="display: none !important" hidden id="item-template">
	<li class="list-item">
        <span class='number'>{{ i }}</span>
        <input type="text" placeholder="List item title" data-id="{{ item.getId() }}" class="item" value="{{ item.getTitle() }}"/>
        <textarea placeholder="(Optional) A short description of this list item." class="description">{{ item.getDescription() }}</textarea>
        <a class="delete-list-item delete-button" href="javascript:void(0)"><span class="icon2-cancel"></a>
    </li>
</div>
{% endblock %}
