{% extends '::base.html.twig' %}
{% block content %}
    {{ user.getUsername() }}
    <img src="{{ user.getGravatarURL() }}" />
    <h1>{{ list.getTitle() }}</h1>
    <p>{{ list.getDescription() }}</p>
    <img src="{{ list.getImageURL() }}" />
{% endblock %}
