{% extends "base.html.twig" %}

{% block body %}
{{ user.getEmail }}<br>
{{ list.getTitle }}<br>

{{ list.getID }}


<ol>
{% for item in list.getListItems() %}
<li>  
{{ item.title }} -
{{ item.description }}
</li>
{% endfor %}
</ol>

{{ user.getEmail() }}
{% endblock %}