{# View the list (Not the owners) #}

{% extends "base.html.twig" %}

{% block bgImage %} {{ list.getImageURL() }} {% endblock %}
{% block body %}

<div class="background" style="min-height: 100%; min-width: 100%;">
	
	
	<div class="items">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 edit-list-head-wrapper">
					<div id="title" data-id="{{ list.getId() }}">{{ list.getTitle() }}</div>
					<div id="subtitle">{{ list.getSubtitle() }}</div>
					<div id="author"><a href=""><img class="loggedin" src="{{ user.getGravatarURL }}">{{ user.username }}</a></div>
				</div>
			</div>
			<div class="row">
		        <div class="list">
			        <div class="col-md-8 col-md-offset-2">
			            <ol>
                        {%  set i = 0 %}
			            {% for item in list.getListItems() %}
                            {%  set i = i+1 %}
                            {%  set title = item.getTitle() %}
                            {%  set description = item.getDescription() %}
			                <li class="list-item">
                                <span class='number'>{{ i }}</span>
			                    <div data-id="{{ item.getId() }}" class="item">{{ title ? title : "Untitled"  }}</div>
			                    <div class="description">{{ description }}</div>
			                </li>
			            {% endfor %}
			            </ol>
			        </div>
		        </div>
			</div>
			<br /><br />
		</div>
	</div>
</div>
{% endblock %}